In [1]:
import numpy as np

question 1

In [2]:
 x = np.array(range(6,404,4))
x.shape

(100,)

question 2

In [3]:
#2
a = np.array([1,2,3,np.nan,5,6,7,np.nan])
a = a[~np.isnan(a)]
a

array([1., 2., 3., 5., 6., 7.])

In [4]:
np.isnan(a)

array([False, False, False, False, False, False])

question 3

In [5]:
x = np.random.randint(100, size = (5,6))
x

array([[54, 26, 44, 21, 18, 86],
       [16, 68, 22, 98, 60, 37],
       [40, 26, 38, 83, 39, 23],
       [29, 39, 79,  8, 34, 33],
       [55, 65, 81, 16, 40, 49]])

In [6]:
np.max(x, axis= 1)

array([86, 98, 83, 79, 81])

question 4

In [7]:
import pandas as pd
series = pd.Series(np.take(list('abcdefghijklmnop'), np.random.randint(16, size=500)))
pd.unique(series)
series.value_counts()

h    38
e    38
a    35
k    35
n    33
m    33
l    32
g    32
f    31
b    30
j    29
o    29
c    28
i    27
d    26
p    24
dtype: int64

question 5

In [20]:

series = pd.Series(['01 Jan 2020', '10-19-2020', '20150303', '2013/04/04', '2012-05-05', '2013-06-06T12:20'])

In [21]:
series

0         01 Jan 2020
1          10-19-2020
2            20150303
3          2013/04/04
4          2012-05-05
5    2013-06-06T12:20
dtype: object

In [22]:
pd.to_datetime(series)

0   2020-01-01 00:00:00
1   2020-10-19 00:00:00
2   2015-03-03 00:00:00
3   2013-04-04 00:00:00
4   2012-05-05 00:00:00
5   2013-06-06 12:20:00
dtype: datetime64[ns]

question 6

In [14]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
len(pd.unique(df.dtypes))
df2 = df.rename(columns={"Type": "TypeOfCar"})
df2.head()
df.isnull().sum()
df.isnull().sum().idxmax()

'Luggage.room'

question 7

In [ ]:
new_df = df.drop(columns=['Length', 'EngineSize'])
new_df2 = df.drop(['Length', 'EngineSize'], axis=1)
new_df2.head()

question 8

In [15]:
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})

df1 = df1.drop_duplicates(subset='fruit', keep='first')
df2 = df2.drop_duplicates(subset='pazham', keep='first')

merged_df = df1.merge(df2, left_on='fruit', right_on='pazham')
merged_df

    fruit weight  price_x  pazham  kilo  price_y
0   apple   high        4   apple  high        0
1  orange    low        4  orange   low        0

question 9

In [16]:
df = pd.DataFrame(["STD,City\tState",
"33,Kolkata\tWest Bengal",
"44,Chennai\tTamil Nadu",
"40,Hyderabad\tTelengana",
"80,Bangalore\tKarnataka"], columns=['row'])
df_out = df.row.str.split(',|\t', expand=True)
new_header = df_out.iloc[0]
df_out = df_out[1:]
df_out.columns = new_header
print(df_out)

0 STD       City        State
1  33    Kolkata  West Bengal
2  44    Chennai   Tamil Nadu
3  40  Hyderabad    Telengana
4  80  Bangalore    Karnataka

question 10

import matplotlib.pyplot as plt
names = ["mpg", "cylinders", "displacement", "horsepower", "weight", "acceleration", "model_year", "origin", "car_name"]
df_mpg = pd.read_csv("auto-mpg.data", header=None, names=names, delim_whitespace=True)

def scatter_plot(df):
    plt.scatter(df['displacement'], df['acceleration'])
    plt.xlabel('displacement')
    plt.ylabel('acceleration')
    plt.grid() 
    plt.show()
scatter_plot(df_mpg)

question 11

In [ ]:
def bar_plot(df):
    x = df[df_mpg.car_name.str.contains('toyota')]
    toyota = x[x.model_year == 78].cylinders.mean()
    c = df[df.model_year == 78].cylinders.mean()
    index = ['toyota_78','rest_78']
    cylinders = [toyota, c]
    df = pd.DataFrame({'cylinders': cylinders}, index=index)
    ax = df.plot.bar(rot=0, figsize=(10,4))
bar_plot(df_mpg)

question 12

def line_plot(df):
    weight = df[df.car_name.str.contains('toyota')].weight
    year = df[df.car_name.str.contains('toyota')].model_year
    plt.plot(year, weight)
    plt.xlabel('model_year')
    plt.ylabel('weight(kg)')
    plt.title('toyota weight throughout the years')
    plt.show()
line_plot(df_mpg)

question 13

In [18]:
def bar_plot_acc(df):
    average_acc_70 = df[df.model_year == 78].acceleration.mean()
    average_acc_82 = df[df.model_year == 82].acceleration.mean()
    index = ['average acceleration 78','average acceleration 82']
    acc = [average_acc_70, average_acc_82]
    df = pd.DataFrame({'acceleration': acc}, index=index)
    ax = df.plot.bar(rot=0)
bar_plot_acc(df_mpg)

NameError: name 'df_mpg' is not defined